@page "/users/{author}/mypage/followers"
@using Chirp.Core.Entities
@model Chirp.Web.models.FollowerPage
@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager
@using Chirp.Web.models;

@{
    ViewData["Title"] = "Chirp!";
    Layout = "./Shared/_Layout.cshtml";
}

@await Html.PartialAsync("_Nav")


@if(SignInManager.IsSignedIn(User))
{
    <strong class="cheep-author"> <a href="/users/@User!.Identity!.Name/mypage">Go back</a> </strong>

    
    <h3>All your followers</h3>
    @if (Model.FollowingList!.Count > 0)
    {
        @foreach (var authorDTO in Model.FollowingList)
        {
            <strong class="cheep-author"> <a href="/users/">@authorDTO.Name</a> </strong>
        } 
    } else
    {
        <em>You have no followers so far.</em>
    }
} else
{
    <div>
        <div class="cheep-item">
            <p class="cheep-body"> Log in to experience new ideas on Chirp. </p>
        </div>
    </div>
}

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const forgetme = document.getElementById("forgetme")
        const confirmationNo = document.getElementById("forgetMeNo")
        const confirmationYes = document.getElementById("forgetMeYes")

        confirmationYes.addEventListener("click", () => forgetMe(forgetMe))
        confirmationNo.addEventListener("click", () => toggleVisibilityById("confirmForgetMe"))
        forgetme.addEventListener("click", () => toggleVisibilityById("confirmForgetMe"))
    })

    function forgetMe(forgetMe){
        const dataAuthor = forgetme.getAttribute("data-author")
        const antiforgeryToken  = document.querySelector('input[name="__RequestVerificationToken"]').value;

        fetch(window.location.href + (window.location.href.includes("?") ? "&handler=forgetme" : "?handler=forgetme"), {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "RequestVerificationToken": antiforgeryToken
            },
            body: JSON.stringify({ 
                userName: dataAuthor
            })
        })
        .then(response => response.json())
        .then(data => {
            console.log(data)
            window.location = location.origin
        })
        .catch(error => {
            console.error("Error:", error);
        });
    }
</script>