@page "/"
@model Chirp.Web.models.PublicTimeLine
@using Chirp.Web.models
@{
    ViewData["Title"] = "Chirp!";
    Layout = "./Shared/_Layout.cshtml";
}

<h2> Public Timeline </h2>

@if (Model.Cheeps.Any())
{   

    @foreach (var cheep in Model.Cheeps)
    {
        @await Html.PartialAsync("_Cheep", new CheepPartialView {
            Author= cheep.Author,
            Body= cheep.Text,
            Date= cheep.Timestamp
        })
    }

} else
{
    <em>There are no cheeps so far.</em>
}
