@page "/"
@model Chirp.Web.Razor.PublicTimeLine
@{
    ViewData["Title"] = "Chirp!";
    Layout = "./Shared/_Layout.cshtml";
}

<div>
    <h2> Public Timeline </h2>

    @if (Model.Cheeps.Any())
    {   

        @foreach (var cheep in Model.Cheeps)
        {
            <div class="cheep-item">
                <strong class="cheep-author">  <a href="/@cheep.Author">@cheep.Author</a> </strong>

                <p class="cheep-body"> @cheep.Text </p>

                <span class="cheep-date"> &mdash; @Model.ToDateTime(cheep.Timestamp) </span>
            </div>
        }

    } else
    {
        <em>There are no cheeps so far.</em>
    }
</div>
