@page "/users/{author}"
@using Chirp.Core.Entities
@using Chirp.Web.models
@using Chirp.Repositories
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager
@model Chirp.Web.models.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "./Shared/_Layout.cshtml";
    var routeName = HttpContext.GetRouteValue("author");
    ViewData["Location"] = $@"{routeName}";
}

@await Html.PartialAsync("_Nav")

<h2 class="name-timeline"> @routeName's Timeline </h2>


@if(SignInManager.IsSignedIn(User)){

    @await Html.PartialAsync("_Follow")
    @if(@User!.Identity!.Name!.Equals(@routeName)){
        <button onclick='window.location = location.origin + "/users/@User!.Identity!.Name/mypage"'> My Page </button>
    }


    @if (Model.Cheeps.Any()){
        @foreach (var cheep in Model.Cheeps)
        {
            @await Html.PartialAsync("_Cheep", new CheepPartialView {
                Id = cheep.Id,
                Author= cheep.Author,
                Body= cheep.Text,
                Date= cheep.Timestamp,
                Likes = cheep.Likes,
                Dislikes = cheep.Dislikes,
                isLiked = await @Model.HasLiked(User!.Identity!.Name!, cheep.Id),
                isDisliked = await @Model.HasDisliked(User!.Identity!.Name!, cheep.Id)
            })
        }
    }else{
        <em>There are no cheeps so far.</em>
    }

}else{
    <div>
        <div class="cheep-item">

            <p class="cheep-body"> Log in to experience new ideas on Chirp. </p>
        </div>
    </div>
}