@page "/{author}"
@model Chirp.Web.Razor.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "./Shared/_Layout.cshtml";
    var routeName = HttpContext.GetRouteValue("author");
}


<h2> @routeName's Timeline </h2>

    @if (Model.Cheeps.Any())
    {
        @foreach (var cheep in Model.Cheeps)
        {
            <div>
                <div class="cheep-item">
                    <strong class="cheep-author">  <a href="/@cheep.Author">@cheep.Author</a> </strong>

                    <p class="cheep-body"> @cheep.Text </p>

                    <span class="cheep-date"> &mdash; @Model.ToDateTime(cheep.Timestamp) </span>
                </div>
            </div>
        }
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }