@page "/{author}"
@using Chirp.Web.models
@model Chirp.Web.models.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "./Shared/_Layout.cshtml";
    var routeName = HttpContext.GetRouteValue("author");
}


<h2> @routeName's Timeline </h2>

@if (Model.Cheeps.Any())
{
    @foreach (var cheep in Model.Cheeps)
    {
        @await Html.PartialAsync("_Cheep", new CheepPartialView {
            Author= cheep.Author,
            Body= cheep.Text,
            Date= cheep.Timestamp
        })
    }
}
else
{
    <em>There are no cheeps so far.</em>
}