
bin/Debug/net7.0/Chirp.CLI.dll

obj/*
obj/rider.project.restore.info
obj/rider.project.model.nuget.info
obj/project.packagespec.json
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/net7.0/refint/Chirp.CLI.dll
obj/Debug/net7.0/ref/Chirp.CLI.dll
obj/Debug/net7.0/Chirp.CLI.sourcelink.json
obj/Debug/net7.0/Chirp.CLI.pdb
obj/Debug/net7.0/Chirp.CLI.genruntimeconfig.cache
obj/Debug/net7.0/Chirp.CLI.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/Chirp.CLI.dll
obj/Debug/net7.0/Chirp.CLI.csproj.FileListAbsolute.txt
obj/Debug/net7.0/Chirp.CLI.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/Chirp.CLI.assets.cache
obj/Debug/net7.0/Chirp.CLI.AssemblyInfoInputs.cache
obj/Debug/net7.0/Chirp.CLI.AssemblyInfo.cs
obj/Chirp.CLI.csproj.nuget.g.props
obj/Chirp.CLI.csproj.nuget.dgspec.json
