body {
    background: #ffffff;
    font-family: 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    place-items: center;
    flex-shrink: 0;
    flex-grow: 0;
}

html {
    overflow-x: hidden;
}

a {
    font-weight: 500;
    color: black;

    text-decoration: inherit;
}

header {
    display: flex; 
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    border-bottom: 2px solid #4b1515;
}

.searchbar {
    display: flex;
}

#search {
    width: 200px;
}

.title {
    width: 100%;
    top: 0;
    background-color: gray;
    position: fixed;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    z-index: 10;
}

.settings{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    margin-right: 45px
}

#settingIcon{
    width: 45px;
    height: 45px;
    cursor: pointer;
}

a:hover {
    color: rgb(47, 112, 192);
}

header, .brand-container {
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    left: 0;
    gap: 20px;
    padding-left: 20px;
}

/*USED FOR THE BIRDS SIZE*/
#icon{
    display: flex;
    cursor: pointer;
    width: 60px;
    height: 55px;
    justify-content: center;
    margin-inline: 0;
}


#current{
    background: rgb(64, 144, 205);
}

/*IS USED FOR THE SIZES OF THE BUTTONS AND MORE*/
button {
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

footer {
    display: flex;
    position: fixed;
    flex-direction: row-reverse;
    width: 100%;
    bottom: 0;
    z-index: 100;
}

.footer-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5px;
    background-color: gray;
    margin: 10px;
    border-radius: 100%;
    border: #4b151541 solid;
    pointer-events: auto;
}

.footer-button-image {
    width: 30px;
    padding: 10px;
}

.footer-button:hover {
    cursor: pointer;
}

.footer-button #post-button {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

#post {
    visibility: hidden;
}

.cheep-post-form {
    bottom: 80px;   
    right: 10px;
    position: fixed;
    background-color: whitesmoke;
    border: 1px solid #4b1515;
    visibility: hidden;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 25px;
    height: 100px;
    width: 400px;
    border-radius: 20px;
}

#post-input {
    height: 100%;
    text-align:left;
    align-items: flex-start;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.post-placeholder {
    position: absolute;
    top: 60px;
    left: 40px;
    color: #4b15155e;
    transition: top 0.3s ease, opacity 0.3s ease; /* Thank you ChatGPT */
    pointer-events: none;
}

.search-form {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(245, 245, 245, 0.629);
    backdrop-filter: blur(5px);
    visibility: hidden;
    gap: 10px;
    z-index: 1000;
}
  
  #search-input {
    border-radius: 20px;
    text-align: center;
    width: 100%;
  }
  
  .search-placeholder{
    position: absolute;
    top: 22px;
    transition: top 0.3s ease, opacity 0.3s ease; /* Thank you ChatGPT */
    color: #4b15155e;
    user-select: none;
    pointer-events: none;
    font-size: small;
  }

  #results {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }