header, .brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  left: 0;
  gap: 20px;
  margin-left: 10px;
}

/*USED FOR THE BIRDS SIZE*/
#icon{
  display: flex;
  cursor: pointer;
  width: 60px;
  height: 55px;
  justify-content: center;
}

.title {
  position: fixed;
  width: 100%;
  background-color: rgb(153, 153, 153);
  padding: 20px;
  top: 0;
}

.tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  align-items: center;
}

.tag #icon {
  width: 20px;
  height: 20px;
}

.cheep-container {
  gap: 100px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.cheep-item {
  
}