<button id="follow" type="submit" asp-handler="Follow" onclick=followPost()>Follow</button>

<script>
    function followPost(){
        const antiforgeryToken  = document.querySelector('input[name="__RequestVerificationToken"]').value;

        fetch(window.location.href + (window.location.href.includes("?") ? "&handler=Follow" : "?handler=Follow"), {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "RequestVerificationToken": antiforgeryToken
            },
            body: JSON.stringify({ 
                Username: "Helge",
                FollowId: 14,
            })
        })
        .catch(error => {
            console.error("Error:", error);
        });
    }
</script>