<button id="follow">Follow</button>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const follow = document.getElementById("follow")

        follow.addEventListener("onclick", () => console.log("Hello!"))
    });

    function followPost(){
        fetch{
            header
        }
    }
</script>