@using Microsoft.AspNetCore.Identity
@using Chirp.Repositories
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using Chirp.Web.models

<!DOCTYPE html>
<html lang="en">
    @Html.AntiForgeryToken()
    @await Html.PartialAsync("_Imports")

    <body>
        <div class="title">
            <header>
                <div class="brand-container">
                    <img src="/assets/icon1.png" onclick = "window.location = '/?page=0'" class = "brand" id="icon" alt="Icon1" />
                    <h1 class="brand" id="name">Chirp!</h1>
                </div>
            </header>

        </div>
        
        <main class="cheep-container">
            @RenderBody()
        </main>


        @if(SignInManager.IsSignedIn(User)){
            <footer>
                @await Html.PartialAsync("_Post")
                @await Html.PartialAsync("_Search")
            </footer>
        }

        <script src="~/js/main.js"></script>

        @RenderSection("Scripts", required: false)
    </body>
</html>

