<!DOCTYPE html>
<html lang="en">
    @await Html.PartialAsync("_Imports")

    <body>
        <div class="title">
            <header>
                <div class="brand-container">
                    <img src="/assets/icon1.png" onclick = "window.location = '/?page=0'" class = "brand" id="icon" alt="Icon1" />
                    <h1 class="brand" id="name">Chirp!</h1>
                </div>
            </header>
        </div>
        
        <main class="cheep-container">
            @RenderBody()
        </main>

        <footer>
            <div class="coffee">
                Buy us a coffee :D
            </div>

            <button class="post" onclick=rotate()>
                <img src="/assets/post.png" class="post" id="post-button"/>
            </button>
        </footer>

        <form class="cheep-post-form" id="post">
            <label class="cheep-post-label">
                <strong>Cheep</strong>
                <input type="text" name="cheep" placeholder="What is on your mind?" />
            </label>
        </form>

        <script>
            function rotate(){
                var img = document.getElementById("post-button")
                img.style.transform = img.style.transform == "rotate(45deg)" ? "rotate(0deg)" : "rotate(45deg)"
                toggleVisibility()
            }

            function toggleVisibility(){
                var form = document.getElementById("post")
                form.style.visibility = form.style.visibility == "visible" ? "hidden" : "visible";
            }
        </script>
        
    </body>
</html>

