<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="/favicon/favicon.ico">
</head>
<body>
     <h1 class = "header">
            <img src="/images/icon1.png" onclick = "window.location = '/?page=0'" class = "Icon" alt="Icon1"/>
        <form>
            <div class = "searchbar">
                <input class = "search-input" name = "SearchName" type="search" placeholder = "Search">
                <div class = "search-menu">
                    @if(Model.Authors != null){
                    <div class = "search-items">
                        @foreach(var author in @Model.Authors){
                        <a href = "/@author.Name">
                            <span>@author.Name</span>
                        </a>
                        }                    
                    </div>
                    }
                </div>
                <img src="/images/filter.png">
            </div>
        </form>

        <div class = "login"> Log in</div>
    </h1>
    
    <div class=page>
        <div class=body>
            @RenderBody()
        </div>
        <div class=footer>
            Chirp &mdash; An ASP.NET Application
        </div>
    </div>
</body>
@await RenderSectionAsync("Scripts", required: false)
</html>
