@using Microsoft.AspNetCore.Html
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/index.css" rel="stylesheet" />
</head>
<body>
    <div class="title">
        <header>
            <div class="brand">
                <img src="/assets/icon1.png" onclick = "window.location = '/?page=0'" class = "brand" id="icon" alt="Icon1" />
                <h1 class="brand" id="name">Chirp!</h1>
            </div>
        </header>
        <nav>
            @tag("Public timeline","/assets/home.png","/")
            @tag("My timeline","./assets/user.png","")
        </nav>
    </div>


@RenderBody()

</body>
@await RenderSectionAsync("Scripts", required: false)
</html>

@functions {
    public HtmlString tag(string name, string imageUrl, string targetPage){
        return new HtmlString( $@"
            <div class=""tag"" onClick=""window.location = '{targetPage}'"">
                <img 
                    src = ""{imageUrl}""
                    alt=""{name}"" 
                    id=""icon""
                />
                {name}
            </div>
        ");
    }
}