
<!DOCTYPE html>
<html lang="en">
    @await Html.PartialAsync("_Imports")

    <body>
        <div class="title">
            <header>
                <div class="brand-container">
                    <img src="/assets/icon1.png" onclick = "window.location = '/?page=0'" class = "brand" id="icon" alt="Icon1" />
                    <h1 class="brand" id="name">Chirp!</h1>
                </div>
            </header>

        </div>
        
        <main class="cheep-container">
            @RenderBody()
        </main>

        <footer>
            @await Html.PartialAsync("_Post")
        </footer>
        
    </body>
</html>

