<!DOCTYPE html>
<html lang="en">
    @await Html.PartialAsync("_Imports")

    <body>
        <div class="title">
            <header>
                <div class="brand-container">
                    <img src="/assets/icon1.png" onclick = "window.location = '/?page=0'" class = "brand" id="icon" alt="Icon1" />
                    <h1 class="brand" id="name">Chirp!</h1>
                </div>
            </header>
        </div>
        
        <main class="cheep-container">
            @RenderBody()
        </main>

        <footer>
            <div class="coffee">
                Buy us a coffee :D
            </div>

            <button class="post" onclick=rotate()>
                <img src="/assets/post.png" class="post" id="post-button"/>
            </button>
        </footer>

        <form class="cheep-post-form" id="post">
            <input type="text" id="post-input">
                <div class="post-placeholder" id="post-placeholder"> What's on your mind? </div> 
            </input>
        </form>

        <script>
            
            document.addEventListener("DOMContentLoaded", () => {
                var postInput = document.getElementById("post-input")
                postInput.addEventListener("focus", () => movePlaceholder())
                postInput.addEventListener("blur", () => movePlaceholder())

                postInput.addEventListener("keydown", function(event) {
                    if (event.key === "Enter") {
                        event.preventDefault();
                        console.log(postInput.value)
                        // TODO create POST method in model
                        toggleVisibility()
                    }
                })
                
            })

            function rotate(){
                var img = document.getElementById("post-button")
                img.style.transform = img.style.transform == "rotate(45deg)" ? "rotate(0deg)" : "rotate(45deg)"
                toggleVisibility()
            }

            function toggleVisibility(){
                var form = document.getElementById("post")
                form.style.visibility = form.style.visibility == "visible" ? "hidden" : "visible";
            }

            function movePlaceholder(){
                var div = document.getElementById("post-placeholder")
                var style = window.getComputedStyle(div)

                if(style.top == "60px") {
                    div.style.top = "4px"
                    div.style.color = "rgb(75, 21, 21)"
                } else {
                    div.style.top = "60px"
                    div.style.color = "rgba(75, 21, 21, 0.37)"
                    document.getElementById("post-input").value = "";
                }

                // "rgba(75, 21, 21, 0.37)"
                
            }
        </script>
        
    </body>
</html>

