@using Chirp.Web.models
<form class="search-form" id="search" asp-page-handler="Search">
    <input type="text" id="search-input">
    @Html.AntiForgeryToken()
    <div class="search-placeholder" id="search-placeholder">Who are you looking for?</div>
    <div id="results"></div>
</form>

<button class="footer-button" onclick=toggleVisibilityById("search") >
    <img src="/assets/search.png" class="footer-button-image" id="search-button" />
</button>

<script>


    document.addEventListener("DOMContentLoaded", () => {
        const searchInput = document.getElementById("search-input")

        searchInput.addEventListener("focus", () => moveSearchPlaceHolder())
        searchInput.addEventListener("blur", () => {
            moveSearchPlaceHolder()
            const results = document.getElementById("results")
            results.getElementById("results").innerHTML = ""
        })
        searchInput.addEventListener("input", () => searchQuery(searchInput.value))
        searchInput.addEventListener("keydown", function(event) {
            if (event.key === "Enter") {
                event.preventDefault();
            }
        });
    });
    
    function searchQuery(input) {
        const antiforgeryToken  = document.querySelector('input[name="__RequestVerificationToken"]').value;
        // TODO: add name of account in json
        fetch(window.location.href + (window.location.href.includes("?") ? "&handler=Search" : "?handler=Search"), {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "RequestVerificationToken": antiforgeryToken
            },
            body: JSON.stringify({ SearchString: input })
        })
        .then(response => response.json())
        .then(data => {
            data.list.forEach(list => showResults(list));
        })
        .catch(error => {
            console.error("Error:", error);
            const results = document.getElementById("results")
            results.innerHTML = ""
        });
    }
    
    function showResults(DTO){
        const results = document.getElementById("results")
        results.innerHTML = ""

        
        DTO.forEach(DTO => {
            var newDiv = document.createElement("div")
            newDiv.classList.add("result-item")
            newDiv.textContent = DTO.name;

            var anchor = document.createElement("a")
            anchor.href = `/users/${DTO.name}`

            anchor.appendChild(newDiv)
            results.appendChild(anchor)
        })
    }

    function moveSearchPlaceHolder(){
        const div = document.getElementById("search-placeholder");
        const input = document.getElementById("search-input");
        
        if (input === document.activeElement) {  // When input is focused
            div.style.top = "0px"
            div.style.color = "rgb(75, 21, 21)";            
        } else {  // When input loses focus
            div.style.top = "22px"
            div.style.color = "rgba(75, 21, 21, 0.37)";
            input.value = "";
        }
    }
</script>